body {
  margin: 17px;
}

body::before {
  content: '';
  width: 100%;
  background-color: white;
  height: 17px;
  position: fixed;
  top: 0;
}

body::after {
  content: '';
  width: 100%;
  background-color: white;
  height: 17px;
  position: fixed;
  bottom: 0;
}
